*{
    text-align: center;
    background-color: black;
}

.s2,.s3{
    font-weight: 400;
    line-height: 110%;
    /* border-image: linear-gradient(to right, #93d3cb, #07070a) 1; */
    /* color:white; */
}

.s1,h1,h2,h3{
    color:wheat;
}


img{
    padding:10px;
    width: 350px;
}

.r2{
    margin: 10px;
    width: 500px;
    /* padding: 20px; */
    border:1px solid rgb(255, 192, 219);
    background-color: yellow;
    animation: example 4s infinite;
}


@keyframes example {
    from {background-color: green;}
    to {background-color: yellow;}
  }

.s2,.s3{
    background-color: yellow;
}
 
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.title{
    font-size: 100px;
}
      
@media (max-width: 750px) {
    .r2{
        margin: 10px;
        width: 400px;
    }

    .title{
        font-size: 75px;
    }
    img{
        width: 300px;
    }
}
